@font-face {
  font-family: Vazir;
  src: url("/assets/fonts/Vazir.ttf");
  font-weight: normal; }

@font-face {
  font-family: Vazir;
  src: url("/assets/fonts/Vazir-Bold.ttf");
  font-weight: bold; }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

:root {
  --ratio: 1.2;
  --s-5: calc(
    var(--s0) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio) /
      var(--ratio)
  );
  --s-4: calc(
    var(--s0) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio)
  );
  --s-3: calc(var(--s0) / var(--ratio) / var(--ratio) / var(--ratio));
  --s-2: calc(var(--s0) / var(--ratio) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s0) * var(--ratio) * var(--ratio));
  --s3: calc(var(--s0) * var(--ratio) * var(--ratio) * var(--ratio));
  --s4: calc(
    var(--s0) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio)
  );
  --s5: calc(
    var(--s0) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) *
      var(--ratio)
  );
  --line-height: calc(1.5 * var(--ratio));
  --line-height-small: calc(1.2 * var(--ratio));
  box-sizing: border-box;
  font-size: calc(0.333vw + 1em);
  line-height: --line-height; }

body {
  direction: rtl;
  font-family: Vazir;
  font-weight: 400; }

ul {
  list-style: none; }

h1,
h2,
h3,
h4 {
  line-height: var(--line-height-small); }

h1 {
  font-size: var(--s4); }

h2 {
  font-size: var(--s3);
  color: #06b6d4; }

h3 {
  font-size: var(--s2);
  color: #0e7490; }

a:link,
a:visited {
  text-decoration: none;
  color: inherit; }

article > * + *,
aside > * + * {
  margin-top: var(--s2); }

article > p + p {
  margin-top: var(--s-1); }

body {
  background-color: #fff;
  padding-top: 6rem; }

.center {
  max-width: 60rem;
  margin-right: auto;
  margin-left: auto; }

.wrapper {
  padding: var(--s0) var(--s3); }

.with-sidebar {
  overflow: hidden; }
  .with-sidebar > * {
    display: flex;
    flex-wrap: wrap;
    margin: calc((var(--s5) / 2) * -1); }
  .with-sidebar > * > * {
    flex-grow: 1;
    margin: calc(var(--s5) / 2); }
  .with-sidebar > * > :last-child {
    flex-basis: 20rem; }
  .with-sidebar > * > :first-child {
    flex-basis: 0;
    flex-grow: 999;
    min-width: calc(50% - var(--s5)); }

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: #fff;
  color: #44403c; }
  .header > * {
    display: flex;
    align-items: center; }
  .header__brand {
    line-height: 0; }
  .header__logo {
    fill: currentColor; }
  .header__nav {
    margin-right: var(--s3); }
  .header__nav-list {
    display: flex;
    list-style: none; }
  .header__nav-item:not(:first-child) {
    margin-right: var(--s1); }
  @media (min-width: 640px) {
    .header {
      box-shadow: 0 var(--s1) var(--s2) #fff; } }

.sidebar {
  color: #44403c; }
  .sidebar__section > * + * {
    margin-top: var(--s-1); }
  .sidebar__section > ul {
    padding-right: var(--s3); }
  .sidebar__heading {
    font-size: var(--s2); }

.tag {
  overflow: hidden; }
  .tag__list {
    display: flex;
    flex-wrap: wrap;
    margin: calc(var(--s-4) / 2 * -1); }
  .tag__item {
    margin: calc(var(--s-4) / 2); }
  .tag__link {
    display: block;
    background-color: #a5b4fccc;
    border-radius: var(--s-5);
    padding: var(--s-5); }

.popular__list > li + li {
  margin-top: var(--s-1); }
