/* FONTS */

@font-face {
  font-family: Vazir;
  src: url("./assets/fonts/Vazir.ttf");
  font-weight: normal;
}

@font-face {
  font-family: Vazir;
  src: url("./assets/fonts/Vazir-Bold.ttf");
  font-weight: bold;
}

/* RESETS */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --ratio: 1.2;
  --s-5: calc(
    var(--s0) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio) /
      var(--ratio)
  );
  --s-4: calc(
    var(--s0) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio)
  );
  --s-3: calc(var(--s0) / var(--ratio) / var(--ratio) / var(--ratio));
  --s-2: calc(var(--s0) / var(--ratio) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s0) * var(--ratio) * var(--ratio));
  --s3: calc(var(--s0) * var(--ratio) * var(--ratio) * var(--ratio));
  --s4: calc(
    var(--s0) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio)
  );
  --s5: calc(
    var(--s0) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) *
      var(--ratio)
  );
  --line-height: calc(1.5 * var(--ratio));
  --line-height-small: calc(1.2 * var(--ratio));
  font-size: calc(0.333vw + 1em);
  line-height: --line-height;
}

body {
  font-family: Vazir;
  font-weight: 400;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  line-height: var(--line-height-small);
}

h1 {
  font-size: var(--s4);
}

h2 {
  font-size: var(--s3);
  color: #06b6d4;
}

h3 {
  font-size: var(--s2);
  color: #0e7490;
}

a {
  text-decoration: none;
  color: inherit;
}

article > * + *,
aside > * + * {
  margin-top: var(--s2);
}

article > p + p {
  margin-top: var(--s-1);
}

body {
  background-color: #fff;
  padding-top: 6rem;
}

/* SIDEBAR LAYOUT */

.with-sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s4);
}

.with-sidebar > aside {
  flex: 1 1 20rem;
}

.with-sidebar > main {
  flex: 9999 1 calc(50% - (var(--s4)) / 2);
}

/* HEADER */

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  color: #44403c;
}

header > div {
  display: flex;
  align-items: center;
}

.logo-wrapper {
  line-height: 0;
}

.logo {
  fill: currentColor;
}

nav {
  margin-right: var(--s3);
}

nav > ul {
  display: flex;
  gap: var(--s1);
}

/* SIDEBAR */

.sidebar {
  font-size: var(--s-1);
  color: #44403c;
}

.sidebar__section > * + * {
  margin-top: var(--s-1);
}

.sidebar__heading {
  font-size: var(--s2);
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--s-4) / 2);
}

.tag-list a {
  display: block;
  background-color: #a5b4fccc;
  border-radius: var(--s-5);
  padding: var(--s-5);
}

.popular-list > li + li {
  margin-top: var(--s-1);
}

/* UTILITIES */

.max-width-wrapper {
  margin-right: auto;
  margin-left: auto;
  padding: var(--s0) var(--s3);
  max-width: 60rem;
}
