.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: #fff;
  color: #475569;

  & > * {
    display: flex;
    align-items: center;
  }
  &__brand {
    line-height: 0;
  }
  &__logo {
    fill: currentColor;
  }
  &__nav {
    margin-right: var(--s3);
  }
  &__nav-list {
    display: flex;
    list-style: none;
  }
  &__nav-item {
    &:not(:first-child) {
      margin-right: var(--s1);
    }
  }

  @media (min-width: 640px) {
    box-shadow: 0 var(--s1) var(--s2) #fff;
  }
}
