/// HEADER COMPONENT

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: #fff;
  color: #44403c;

  & > * {
    display: flex;
    align-items: center;
  }
  &__brand {
    line-height: 0;
  }
  &__logo {
    fill: currentColor;
  }
  &__nav {
    margin-right: var(--s3);
  }
  &__nav-list {
    display: flex;
    list-style: none;
  }
  &__nav-item {
    &:not(:first-child) {
      margin-right: var(--s1);
    }
  }

  @media (min-width: 640px) {
    box-shadow: 0 var(--s1) var(--s2) #fff;
  }
}

/// SIDEBAR COMPONENT

.sidebar {
  font-size: var(--s-1);
  color: #44403c;

  &__section {
    & > * + * {
      margin-top: var(--s-1);
    }
    & > ul {
      padding-right: var(--s3);
    }
  }
  &__heading {
    font-size: var(--s2);
  }
}

/// TAG COMPONENT

.tag {
  &__link {
    display: block;
    background-color: #a5b4fccc;
    border-radius: var(--s-5);
    padding: var(--s-5);
  }
}

/// POPULAR COMPONENT

.popular {
  &__list > li + li {
    margin-top: var(--s-1);
  }
}
