body {
  background-color: #fff;
  padding-top: 6rem;
}

.center {
  max-width: 60rem;
  margin-right: auto;
  margin-left: auto;
}

.wrapper {
  padding: var(--s0) var(--s3);
}

.with-sidebar {
  overflow: hidden;

  & > * {
    display: flex;
    flex-wrap: wrap;
    margin: calc((var(--s3) / 2) * -1);
  }
  & > * > * {
    flex-grow: 1;
    margin: calc(var(--s3) / 2);
  }
  & > * > :last-child {
    flex-basis: 15rem;
  }

  & > * > :first-child {
    flex-basis: 0;
    flex-grow: 999;
    min-width: calc(50% - var(--s3));
  }
}
